<html>
	<head></head>
	<body>
		<p>
			"The SECRET NUMBER IS:????"<br>
			"<%= message if message %>"
		</p>
		<form>
			<input type='text' name='guess' />
			<input type='submit' value='Guess!' />
		</form>
	</body>
</html> 