h1 {
	text-align: center;
	font-family: "impact"
}

#main {
	height: 470px;
	width: 100%;
	position: fixed;
	top: 0px;
}

#message {
	height: 50px;
	width: auto;
	position: relative;
	z-index: 2;
	font-family: "impact";
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
}

#output{
  height:470px;
  width: 50%;
  margin: 50px auto;
  position: relative;
  z-index: 0;
  text-align: center;
}

#bottom_screen {
	height: 185px;
	width: 100%;
	background-color: black;
	position: fixed;
	bottom: 0px;
	z-index: 2;
}

#enter {
	font-family: "impact";
	width: 100px;
	margin: 90px 45%;
	border: solid white;
	font-weight: bold;
	border-radius: 5px;
	color: white;
	background-color: black
}

#word_hidden {
	border: 1px solid lightgrey;
	text-align: center;
	letter-spacing: 10px;
	height: 40px;
}

#data{
  height:50%;
  width: 95%;
  margin: 0 auto;
  border: black;
}


#abc {
	color: white;
	text-decoration-color: white;
	border: solid white;
	text-align: center;
	letter-spacing: 5px;
	height: 40px;
}

#form_submit {
	padding-top: 30px;
	width:100%;
	height: 50px;
	text-align: center;
	position: relative;
	display: inline-block;
	color: white
}

form{
	position: relative;
	z-index: 2
}

input {
	height: 15px;
	width: 70px;
}

#submit {
	height: 30px;
	margin:0 auto;
	border: solid white;
	background-color: black;
	color: white;
}

#reset {
	height: 30px;
	margin:0 auto;
	border: solid black;
	background-color: black;
	color: white;
}



