body {
	font-family: garamond;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("http://img00.deviantart.net/9860/i/2012/027/d/1/luffy_meditating_by_dictator_of_life-d4nu0go.jpg");
}


#buttons {
	margin: 0 auto;
	text-align: center
}

.button {
	margin:10px 20px;
	border: 1px dotted grey;
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	background: white;
	border-radius: 5px;
	font-weight: bold;
	opacity: 0.8;
}

.button:hover {
	opacity: 1.2;
	border: 3px solid black;
}

#basic {
	background-color: black;
	color: white;
}

#fade {
	background: linear-gradient(to right, white, black);
}

#color{
	color: black;
	background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

.container {
	background-color: white;
	border: 2px solid black;
	height: 625px;
	width: 625px;
	margin: 20px auto;
}


.box {

	outline: 1px dotted black;
	background-color: white;
	margin: 0px;
	padding: 0px;
	float: left;
}